<!DOCTYPE html>

<html>

<head>
    
    <title>Index</title>
    <link rel="icon" href="/img/weather.png" >

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="/css/styles.css">

     <script src="https://unpkg.com/vue@next"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit-icons.min.js"></script>
    
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>Search Courses</p>

        

        {{>searchFilters}}

        <div id="appCourse">
            <button v-on:click="search()">Search</button>
            <div v-for="course in courses">
                <p v-if="course"> \{{ course.name }} - \{{ course.campus.campusName }} </p>
            </div>
        </div>

        {{!-- <div id="components-demo">
            <button-counter :key="componentKey"></button-counter>
        </div> --}}
        
    </div>
    <script src="/js/courses.js"></script>

    {{>footer}}
</body>


</html>